* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: linear-gradient(135deg, #71b7e6, #f09b3a);
    background-color: #ffb703;
    /* background-image: linear-gradient(19deg, #21d4fd 0%, #f0cc56 100%); */
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
}

h2 {
    display: flex;
}

label {
    display: inline-block;
    background-color: indigo;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-bottom: 10%;
    margin-left: 80%;
}

main {
    background-color: white;
    text-align: center;
}

section:nth-child(even) {
    background-color: rgb(241, 241, 241);
}

video {
    padding: 10px;
}

iframe {
    height: 75vh;
}

img.a {
    border-radius: 30px;
    width: 100%;
    height: 40%;
}

section h5 {
    margin: 40px;
}

footer {
    background-color: rgb(12, 10, 10);
    overflow: hidden;
    text-align: center;
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}

* Container holding the image and the text */ .container {
    position: relative;
}


/* Bottom right text */

.text-block {
    position: absolute;
    top: 10cm;
    background-color: rgba(190, 44, 44, 0);
    color: rgba(243, 240, 240, 0.932);
    padding-left: 20px;
    padding-right: 20px;
}


/* Change the color of links on hover */


/* Add a color to the active/current link */

.logo {
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;
    margin-left: 37%;
    margin-right: auto;
    height: auto;
    max-width: 100%;
    display: block;
    width: 50%;
}